@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  font-family: 'Poppins';
}

.App {
  background-color: #282c34;
}

.swagger-ui .info .title,
.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table,
.swagger-ui .scheme-container .schemes > label,
.swagger-ui .parameter__name,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
  color: #e9eaec !important;
}

.swagger-ui .scheme-container {
  background: #282c34 !important;
}

.swagger-ui .info .base-url {
  color: #8b8d92 !important;
}

.swagger-ui,
.swagger-ui .model {
  color: #abc0eb !important;
}

.swagger-ui .parameter__type,
.swagger-ui .tab li button.tablinks,
.swagger-ui a.nostyle,
.swagger-ui a.nostyle:visited,
.swagger-ui .response-col_status {
  color: #16777a !important;
}

.accessKeyContainer {
  width: 100%;
  padding: 2em 0;
  display: flex;
  align-items: center;
  background-color: #303540;
  box-shadow: 0 0 5px #4365bd, 0 0 10px #4365bd;
}

.userName {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  color: #303540;
  font-weight: 200;
}

.accessKeyInput {
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.accessKeyInput > input,
.btnToClipboard {
  border-radius: 0.2em;
  border: none;
  outline: none;
}

.accessKeyInput > input {
  width: 50%;
  padding: 0 0.5em;
  color: #4283d0;
}

.btnToClipboard {
  background: #4283d0;
  color: #fff;
  font-size: 1.6em;
  padding: 0 0.2em;
  margin-left: 0.2em;
}
.btnToClipboard:active {
  color: #4283d0;
  background-color: #fff;
}
